@import "tailwindcss";

@theme {
  --color-brand-primary: #2D6A4F;
  --color-brand-primary-dark: #1B4332;
  --color-brand-accent: #F4A261;
  --color-brand-accent-dark: #E76F51;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
